* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: auto;
  position: relative;
  background: white;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 67px;
  position: absolute; 
  top: 0;
  left: 0;
  background: rgba(178, 49, 31, 0.54);
  border: 2px black solid;
}

.footer {
  width: 100%;
  height: 250px;
  position: absolute; 
  top: 2919px;
  left: 0;
  background: rgba(178.5, 48.58, 30.87, 0.87);
  border: 2px black solid;
}

@keyframes changeColor {
  0% {
    color: #c22e1b9c; 
  }
  50% {
    color: #2c0903; 
  }
  100% {
    color: #c22e1b8f; 
  }
}

.portfolio {
  position: relative;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  animation: changeColor 6s infinite; 
}

.avantphoto {
  width: 419px;
  height: 521px;
  position: absolute;
  top: 30%;
  left: 66%;
  background: rgba(213, 144, 134, 0.24);
  border-top-left-radius: 111px;
  border: 4px rgba(0, 0, 0, 0.5) solid;
}

.photo {
  width: 419px;
  height: 521px;
  position: absolute;
  top: 35%;
  left: 63%;
  overflow: hidden;
  border-top-left-radius: 111px;
  border: 4px black solid;
}

.photo img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.welcome {
  left: 78px;
  top: 302px;
  position: absolute;
  color: #c22e1b;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  animation: bounce 3s infinite; 
}


.aboutheader {
  left: 844px;
  top: 18px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  text-decoration: none;
  font-weight: bold;
}

.aboutme {
  left: 762px;
  top: 976px;
  position: absolute;
  color: #c22e1b;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  animation: bounce 3s infinite; 
}
.contact {
  left: 45%;
  top: 2915px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  z-index: 1;
}

.competences {
  left: 159px;
  top: 1987px;
  position: absolute;
  color: #c22e1b;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
   animation: bounce 3s infinite; 
}

.competencesheader {
  left: 955px;
  top: 18px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  text-decoration: none;
  font-weight: bold;
}

.contactheader {
  left: 1106px;
  top: 18px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  text-decoration: none;
  font-weight: bold;
}


.avantphoto2 {
  width: 507px;
  height: 501px;
  left: 112px;
  top: 1004px;
  position: absolute;
  background: #f5e4e2;
  border-radius: 206px;
  border: 4px rgba(0, 0, 0, 0.5) solid;
}
.photo2 {
  width: 508px;
  height: 497px;
  left: 80px;
  top: 1055px;
  position: absolute;
  background: linear-gradient(0deg, #040101 0%, #040101 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 99px 203px 204px 0;
  border: 4px black solid;
  overflow: hidden;
}

.photo2 img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texte {
  width: 660px;
  height: 282px;
  left: 78px;
  top: 398px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.texte2 {
  width: 623px;
  height: 261px;
  left: 652px;
  top: 1109px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.devweb,
.artistique {
  width: 290px;
  height: 70px;
  left: 162px;
  position: absolute;
  color: black;
  border: 2px #040101;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.devweb {
  top: 2101px;
  text-align: center;
}

.artistique {
  top: 2247px;
  text-align: center;
}
.audiovi {
  width: 290px;
  height: 70px;
  left: 162px;
  top: 2393px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.economie {
  width: 290px;
  height: 70px;
  left: 162px;
  top: 2545px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.followme {
  width: 268px;
  height: 189px;
  left: 26px;
  top: 2937px;
  position: absolute;
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  z-index: 1;
}
.link {
  width: 138px;
  height: 44px;
  left: 85%;
  top: 2937px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  z-index: 1;
}

.CV {
  width: 287px;
  height: 65px;
  left: 76%;
  top: 3010px;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  z-index: 1;
}


.position-barredev {
  position: absolute;
  left: 361px; 
  top: 2107px; 
}


.cadreweb {
  display: inline-block; 
  border: 2px solid #d9d9d9; 
  border-radius: 5px;
  padding: 5px; 
}


.barredev {
  width: 785px;
  height: 44px;
  position: relative;
  overflow: hidden; 
}


.barredev .animation {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(139, 0, 0, 0.5));
  border-radius: 5px;
  animation: progression 6s ease-in-out infinite;
}
@keyframes progression {
  0%,
  100% {
    width: 0%;
  }
  40%,
  60% {
    width: 30%;
  }
}

.barredev .pourcentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
  font-weight: bold;
}

.position-barreart {
  position: absolute;
  left: 361px;
  top: 2253px;
}


.cadreart {
  display: inline-block; 
  border: 2px solid #d9d9d9; 
  border-radius: 5px;
  padding: 5px; 
}


.barreart {
  width: 785px;
  height: 44px;
  position: relative;
  overflow: hidden; 
}


.barreart .animation {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(139, 0, 0, 0.5));
  border-radius: 5px;
  animation: progression2 6s ease-in-out infinite;
}
@keyframes progression2 {
  0%,
  100% {
    width: 0%;
  }
  40%,
  60% {
    width: 40%;
  }
}


.barreart .pourcentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555; 
  font-weight: bold;
}


.position-barreaudio {
  position: absolute;
  left: 361px; 
  top: 2399px; 
}


.cadreaudio {
  display: inline-block; 
  border: 2px solid #d9d9d9; 
  border-radius: 5px;
  padding: 5px;
}


.barreaudio {
  width: 785px;
  height: 44px;
  position: relative;
  overflow: hidden; 
}


.barreaudio .animation {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(139, 0, 0, 0.5));
  border-radius: 5px;
  animation: progression3 6s ease-in-out infinite;
}
@keyframes progression3 {
  0%,
  100% {
    width: 0%;
  }
  40%,
  60% {
    width: 70%;
  }
}


.barreaudio .pourcentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555; 
  font-weight: bold;
}

.position-competence {
  position: absolute;
  left: 361px; 
  top: 2551px; 
}


.cadrecompetence {
  display: inline-block; 
  border: 2px solid #d9d9d9; 
  border-radius: 5px;
  padding: 5px; 
}


.barreeconomie {
  width: 785px;
  height: 44px;
  position: relative;
  overflow: hidden; 
}


.barreeconomie .animation {
  width: 0%;
  height: 100%;
  background: linear-gradient(
    to right,
    black,
    rgba(139, 0, 0, 0.5)
  ); 
  border-radius: 5px;
  animation: progression4 6s ease-in-out infinite;
}
@keyframes progression4 {
  0%,
  100% {
    width: 0%;
  }
  40%,
  60% {
    width: 50%;
  }
}

.pourcentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #555;
  font-weight: bold;
}

.tiktok {
  width: 89px;
  height: 80px;
  left: 26px;
  top: 2988px;
  position: absolute;
  border: 3px black solid;
  overflow: hidden;
  z-index: 1;
}

.tiktok img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.instagram {
  width: 89px;
  height: 80px;
  left: 143px;
  top: 2988px;
  position: absolute;
  border: 3px black solid;
  overflow: hidden;
  z-index: 1;
}

.instagram img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discord {
  width: 89px;
  height: 80px;
  left: 143px;
  top: 3086px;
  position: absolute;
  border: 3px black solid;
  overflow: hidden;
  z-index: 1;
}
.discord img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mail {
  width: 89px;
  height: 80px;
  left: 26px;
  top: 3086px;
  position: absolute;
  border: 3px black solid;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
}
.mail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


body,
h1,
form {
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 60%;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 25px;
}

button {
  padding: 8px 20px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  height: 30px;
}

button:hover {
  background-color: #c22e1b;
}

.position-form {
  position: absolute; 
  top: 2970px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
}



input[type="text"],
input[type="email"],
textarea {
  width: 100%;
}
